.view-sm {
  max-width: 720px;
  margin: 0 auto;
}

// home wrapper
.view-wrapper {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1280px) {
    margin: auto -1rem 1rem;
  }
}

// content
.view-content {
  flex: 5;
  @media screen and (min-width: 1280px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
  }
}

// sidebar
.view-sidebar {
  flex: 1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  @media screen and (max-width: 1280px) {
    display: none;
  }

  .view-sidebar__content {
    // extra:
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 160px;
    height: 100%;
    margin: 0 auto;
  }
}
